*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: #494d4e;
  font-weight: 300;
  background: #fff;
}
p {
  margin: 0 0 1em 0;
}
a {
  color: #c90;
  background: transparent;
  text-decoration: underline;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Yeseva One", cursive;
  margin: 0;
}
h1,
.h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 64px;
  line-height: 4rem;
  margin-top: .7em;
  margin-bottom: .5em;
  color: #fff;
  font-weight: 400;
}
h2,
.h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 2.5rem;
  margin-top: 1.4em;
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 1em;
  margin-bottom: .1em;
  color: #c90;
  font-weight: 400;
}
h6,
.h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: 1em;
  margin-bottom: .1em;
  color: #c90;
  font-weight: 400;
}
b,
strong,
.strong {
  font-weight: 700;
}
em,
.em {
  font-style: italic;
}
abbr[title],
.abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
small,
.small {
  font-size: 80%;
}
mark,
.mark {
  background: #ff0;
  color: #000;
}
sub,
.sub,
sup,
.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup,
.sup {
  top: -0.5em;
}
sub,
.sub {
  bottom: -0.25em;
}
del,
.del {
  text-decoration: line-through;
}
figure {
  margin: 1em 40px;
}
hr,
.hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
ul,
ol {
  margin: 1em 0 2em 0;
  padding: 0 0 0 40px;
}
ul li,
ol li {
  margin-bottom: 5px;
}
dl:before,
dl:after {
  content: " ";
  display: table;
}
dl:after {
  clear: both;
}
dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400;
}
dl dd {
  overflow: hidden;
  display: block;
}
blockquote,
.blockquote {
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  color: #fff;
  font-style: italic;
  margin: 3em 0;
}
blockquote p,
.blockquote p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: .4em;
}
blockquote cite,
.blockquote cite {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 25px;
  line-height: 1.5625rem;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}
caption {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: .5em 0;
  border-bottom: 1px solid #d7d7d7;
}
table {
  font-size: 14px;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0;
  text-align: left;
}
table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th {
  color: #585858;
  padding: .8em .5em;
  border-bottom: 1px solid #e9e9e9;
}
code,
kbd,
pre,
samp {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  word-wrap: break-word;
  font-family: 'courier new', monospace, serif;
  color: #272727;
  background-color: #f1f1f1;
  font-weight: normal;
  padding: 5px;
  white-space: pre-wrap;
}
pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid #d7d7d7;
}
fieldset,
legend {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 700;
}
.form {
  padding-top: 1em;
  padding-bottom: 1em;
}
label,
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input {
  line-height: normal;
}
.input {
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
  height: 36px;
  padding: 0 .4em;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
select {
  text-transform: none;
}
optgroup {
  font-weight: 700;
}
button {
  overflow: visible;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
.button {
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: .5em 1em;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: #f9f9f9;
}
.button:active {
  background: #fff;
}
.button-link {
  color: #c90;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
}
.button-link:hover {
  text-decoration: none;
}
.button-link:active {
  outline: 0;
}
.select {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 36px;
  line-height: 32px;
  padding: 0 0.4em;
  position: relative;
  display: block;
}
.select:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #676767;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 120%;
  height: 36px;
  padding: 0;
  line-height: normal;
  border: 0;
  background: transparent;
  display: block;
}
.select select:focus {
  outline: 0;
}
.select {
  background: #fff;
}
h2,
.h2 {
  margin: 0;
  text-align: center;
}
h2:after,
.h2:after {
  content: "";
  width: 270px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/divider-gold.svg);
  height: 40px;
  margin-bottom: 20px;
}
.h2-secondary {
  color: #fff;
}
.h2-secondary:after {
  content: "";
  background-image: url(img/divider-white.svg);
  height: 35px;
}
.divider {
  width: 270px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.divider-primary {
  background-image: url(img/divider-xl-white.svg);
  height: 55px;
}
.divider-secondary {
  background-image: url(img/divider-gold.svg);
  height: 40px;
}
.divider-third {
  background-image: url(img/divider-white.svg);
  height: 35px;
}
.divider-fourth {
  background-image: url(img/divider-sm-white.svg);
  height: 30px;
}
.button {
  color: #fff;
  padding: 1em 3em;
  text-decoration: none;
  border: 1px solid transparent;
  background: #c90;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}
.button:hover {
  background: #cd9f0b;
}
.button:active {
  top: 1px;
}
.button-primary {
  border: 1px solid #000;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
}
.button-primary:hover {
  background-color: #000;
  background-color: #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff000000);
}
.button-secondary {
  border: 1px solid #fff;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff, endColorstr=#26ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff, endColorstr=#26ffffff);
}
.button-secondary:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
}
.feature-box {
  padding: 20px 10px;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
}
.social {
  width: 16px;
  height: 25px;
  top: 7px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.social-facebook {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8.563%200.107v2.357h-1.402q-0.768%200-1.036%200.321t-0.268%200.964v1.688h2.616l-0.348%202.643h-2.268v6.777h-2.732v-6.777h-2.277v-2.643h2.277v-1.946q0-1.661%200.929-2.576t2.473-0.915q1.313%200%202.036%200.107z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-facebook:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%0A%3Cpath%20fill%3D%22%23c90%22%20d%3D%22M8.563%200.107v2.357h-1.402q-0.768%200-1.036%200.321t-0.268%200.964v1.688h2.616l-0.348%202.643h-2.268v6.777h-2.732v-6.777h-2.277v-2.643h2.277v-1.946q0-1.661%200.929-2.576t2.473-0.915q1.313%200%202.036%200.107z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-twitter {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M14.464%203.643q-0.598%200.875-1.446%201.491%200.009%200.125%200.009%200.375%200%201.161-0.339%202.317t-1.031%202.219-1.647%201.879-2.304%201.304-2.884%200.487q-2.42%200-4.429-1.295%200.313%200.036%200.696%200.036%202.009%200%203.58-1.232-0.938-0.018-1.679-0.576t-1.018-1.424q0.295%200.045%200.545%200.045%200.384%200%200.759-0.098-1-0.205-1.656-0.996t-0.656-1.835v-0.036q0.607%200.339%201.304%200.366-0.589-0.393-0.938-1.027t-0.348-1.375q0-0.786%200.393-1.455%201.080%201.33%202.629%202.129t3.317%200.888q-0.071-0.339-0.071-0.661%200-1.196%200.844-2.040t2.040-0.844q1.25%200%202.107%200.911%200.973-0.188%201.83-0.696-0.33%201.027-1.268%201.589%200.83-0.089%201.661-0.446z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-twitter:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%23c90%22%20d%3D%22M14.464%203.643q-0.598%200.875-1.446%201.491%200.009%200.125%200.009%200.375%200%201.161-0.339%202.317t-1.031%202.219-1.647%201.879-2.304%201.304-2.884%200.487q-2.42%200-4.429-1.295%200.313%200.036%200.696%200.036%202.009%200%203.58-1.232-0.938-0.018-1.679-0.576t-1.018-1.424q0.295%200.045%200.545%200.045%200.384%200%200.759-0.098-1-0.205-1.656-0.996t-0.656-1.835v-0.036q0.607%200.339%201.304%200.366-0.589-0.393-0.938-1.027t-0.348-1.375q0-0.786%200.393-1.455%201.080%201.33%202.629%202.129t3.317%200.888q-0.071-0.339-0.071-0.661%200-1.196%200.844-2.040t2.040-0.844q1.25%200%202.107%200.911%200.973-0.188%201.83-0.696-0.33%201.027-1.268%201.589%200.83-0.089%201.661-0.446z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-youtube {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8.67%2011.107v1.884q0%200.598-0.348%200.598-0.205%200-0.402-0.196v-2.688q0.196-0.196%200.402-0.196%200.348%200%200.348%200.598zM11.688%2011.116v0.411h-0.804v-0.411q0-0.607%200.402-0.607t0.402%200.607zM3.063%209.17h0.955v-0.839h-2.786v0.839h0.938v5.080h0.893v-5.080zM5.634%2014.25h0.795v-4.411h-0.795v3.375q-0.268%200.375-0.509%200.375-0.161%200-0.188-0.188-0.009-0.027-0.009-0.313v-3.25h-0.795v3.491q0%200.438%200.071%200.652%200.107%200.33%200.518%200.33%200.429%200%200.911-0.545v0.482zM9.464%2012.929v-1.759q0-0.652-0.080-0.884-0.152-0.5-0.634-0.5-0.446%200-0.83%200.482v-1.938h-0.795v5.92h0.795v-0.429q0.402%200.491%200.83%200.491%200.482%200%200.634-0.491%200.080-0.241%200.080-0.893zM12.482%2012.839v-0.116h-0.813q0%200.455-0.018%200.545-0.063%200.321-0.357%200.321-0.411%200-0.411-0.616v-0.777h1.598v-0.92q0-0.705-0.241-1.036-0.348-0.455-0.946-0.455-0.607%200-0.955%200.455-0.25%200.33-0.25%201.036v1.545q0%200.705%200.259%201.036%200.348%200.455%200.964%200.455%200.643%200%200.964-0.473%200.161-0.241%200.188-0.482%200.018-0.080%200.018-0.518zM7.054%204.688v-1.875q0-0.616-0.384-0.616t-0.384%200.616v1.875q0%200.625%200.384%200.625t0.384-0.625zM13.473%2011.393q0%202.089-0.232%203.125-0.125%200.527-0.518%200.884t-0.911%200.411q-1.643%200.188-4.955%200.188t-4.955-0.188q-0.518-0.054-0.915-0.411t-0.513-0.884q-0.232-1-0.232-3.125%200-2.089%200.232-3.125%200.125-0.527%200.518-0.884t0.92-0.42q1.634-0.179%204.946-0.179t4.955%200.179q0.518%200.063%200.915%200.42t0.513%200.884q0.232%201%200.232%203.125zM4.563%200h0.911l-1.080%203.563v2.42h-0.893v-2.42q-0.125-0.661-0.545-1.893-0.33-0.92-0.58-1.67h0.946l0.634%202.348zM7.866%202.973v1.563q0%200.723-0.25%201.054-0.33%200.455-0.946%200.455-0.598%200-0.938-0.455-0.25-0.339-0.25-1.054v-1.563q0-0.714%200.25-1.045%200.339-0.455%200.938-0.455%200.616%200%200.946%200.455%200.25%200.33%200.25%201.045zM10.857%201.527v4.455h-0.813v-0.491q-0.473%200.554-0.92%200.554-0.411%200-0.527-0.33-0.071-0.214-0.071-0.67v-3.518h0.813v3.277q0%200.295%200.009%200.313%200.027%200.196%200.188%200.196%200.241%200%200.509-0.384v-3.402h0.813z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-youtube:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cpath%20fill%3D%22%23c90%22%20d%3D%22M8.67%2011.107v1.884q0%200.598-0.348%200.598-0.205%200-0.402-0.196v-2.688q0.196-0.196%200.402-0.196%200.348%200%200.348%200.598zM11.688%2011.116v0.411h-0.804v-0.411q0-0.607%200.402-0.607t0.402%200.607zM3.063%209.17h0.955v-0.839h-2.786v0.839h0.938v5.080h0.893v-5.080zM5.634%2014.25h0.795v-4.411h-0.795v3.375q-0.268%200.375-0.509%200.375-0.161%200-0.188-0.188-0.009-0.027-0.009-0.313v-3.25h-0.795v3.491q0%200.438%200.071%200.652%200.107%200.33%200.518%200.33%200.429%200%200.911-0.545v0.482zM9.464%2012.929v-1.759q0-0.652-0.080-0.884-0.152-0.5-0.634-0.5-0.446%200-0.83%200.482v-1.938h-0.795v5.92h0.795v-0.429q0.402%200.491%200.83%200.491%200.482%200%200.634-0.491%200.080-0.241%200.080-0.893zM12.482%2012.839v-0.116h-0.813q0%200.455-0.018%200.545-0.063%200.321-0.357%200.321-0.411%200-0.411-0.616v-0.777h1.598v-0.92q0-0.705-0.241-1.036-0.348-0.455-0.946-0.455-0.607%200-0.955%200.455-0.25%200.33-0.25%201.036v1.545q0%200.705%200.259%201.036%200.348%200.455%200.964%200.455%200.643%200%200.964-0.473%200.161-0.241%200.188-0.482%200.018-0.080%200.018-0.518zM7.054%204.688v-1.875q0-0.616-0.384-0.616t-0.384%200.616v1.875q0%200.625%200.384%200.625t0.384-0.625zM13.473%2011.393q0%202.089-0.232%203.125-0.125%200.527-0.518%200.884t-0.911%200.411q-1.643%200.188-4.955%200.188t-4.955-0.188q-0.518-0.054-0.915-0.411t-0.513-0.884q-0.232-1-0.232-3.125%200-2.089%200.232-3.125%200.125-0.527%200.518-0.884t0.92-0.42q1.634-0.179%204.946-0.179t4.955%200.179q0.518%200.063%200.915%200.42t0.513%200.884q0.232%201%200.232%203.125zM4.563%200h0.911l-1.080%203.563v2.42h-0.893v-2.42q-0.125-0.661-0.545-1.893-0.33-0.92-0.58-1.67h0.946l0.634%202.348zM7.866%202.973v1.563q0%200.723-0.25%201.054-0.33%200.455-0.946%200.455-0.598%200-0.938-0.455-0.25-0.339-0.25-1.054v-1.563q0-0.714%200.25-1.045%200.339-0.455%200.938-0.455%200.616%200%200.946%200.455%200.25%200.33%200.25%201.045zM10.857%201.527v4.455h-0.813v-0.491q-0.473%200.554-0.92%200.554-0.411%200-0.527-0.33-0.071-0.214-0.071-0.67v-3.518h0.813v3.277q0%200.295%200.009%200.313%200.027%200.196%200.188%200.196%200.241%200%200.509-0.384v-3.402h0.813z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-google-plus {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M6.563%207.107q0%200.321%200.286%200.629t0.692%200.607%200.808%200.656%200.688%200.929%200.286%201.268q0%200.804-0.429%201.545-0.643%201.089-1.884%201.603t-2.661%200.513q-1.179%200-2.201-0.371t-1.531-1.228q-0.33-0.536-0.33-1.17%200-0.723%200.397-1.339t1.058-1.027q1.17-0.732%203.607-0.893-0.286-0.375-0.424-0.661t-0.138-0.652q0-0.321%200.188-0.759-0.411%200.036-0.607%200.036-1.321%200-2.228-0.862t-0.906-2.183q0-0.732%200.321-1.42t0.884-1.17q0.688-0.589%201.629-0.875t1.942-0.286h3.732l-1.232%200.786h-1.17q0.661%200.563%201%201.188t0.339%201.429q0%200.643-0.219%201.156t-0.527%200.83-0.621%200.58-0.531%200.549-0.219%200.589zM5.259%206.25q0.339%200%200.696-0.147t0.589-0.388q0.473-0.509%200.473-1.42%200-0.518-0.152-1.116t-0.433-1.156-0.754-0.924-1.045-0.366q-0.375%200-0.737%200.174t-0.585%200.469q-0.42%200.527-0.42%201.429%200%200.411%200.089%200.871t0.281%200.92%200.464%200.826%200.67%200.598%200.862%200.232zM5.277%2014.045q0.518%200%200.996-0.116t0.884-0.348%200.652-0.652%200.246-0.973q0-0.223-0.063-0.438t-0.129-0.375-0.241-0.371-0.263-0.313-0.344-0.308-0.326-0.259-0.371-0.268-0.326-0.232q-0.143-0.018-0.429-0.018-0.473%200-0.938%200.063t-0.96%200.223-0.866%200.411-0.612%200.665-0.241%200.942q0%200.625%200.313%201.103t0.817%200.741%201.063%200.393%201.138%200.129zM12.509%206.223h1.902v0.964h-1.902v1.955h-0.938v-1.955h-1.893v-0.964h1.893v-1.938h0.938v1.938z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.social-google-plus:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%23c90%22%20d%3D%22M6.563%207.107q0%200.321%200.286%200.629t0.692%200.607%200.808%200.656%200.688%200.929%200.286%201.268q0%200.804-0.429%201.545-0.643%201.089-1.884%201.603t-2.661%200.513q-1.179%200-2.201-0.371t-1.531-1.228q-0.33-0.536-0.33-1.17%200-0.723%200.397-1.339t1.058-1.027q1.17-0.732%203.607-0.893-0.286-0.375-0.424-0.661t-0.138-0.652q0-0.321%200.188-0.759-0.411%200.036-0.607%200.036-1.321%200-2.228-0.862t-0.906-2.183q0-0.732%200.321-1.42t0.884-1.17q0.688-0.589%201.629-0.875t1.942-0.286h3.732l-1.232%200.786h-1.17q0.661%200.563%201%201.188t0.339%201.429q0%200.643-0.219%201.156t-0.527%200.83-0.621%200.58-0.531%200.549-0.219%200.589zM5.259%206.25q0.339%200%200.696-0.147t0.589-0.388q0.473-0.509%200.473-1.42%200-0.518-0.152-1.116t-0.433-1.156-0.754-0.924-1.045-0.366q-0.375%200-0.737%200.174t-0.585%200.469q-0.42%200.527-0.42%201.429%200%200.411%200.089%200.871t0.281%200.92%200.464%200.826%200.67%200.598%200.862%200.232zM5.277%2014.045q0.518%200%200.996-0.116t0.884-0.348%200.652-0.652%200.246-0.973q0-0.223-0.063-0.438t-0.129-0.375-0.241-0.371-0.263-0.313-0.344-0.308-0.326-0.259-0.371-0.268-0.326-0.232q-0.143-0.018-0.429-0.018-0.473%200-0.938%200.063t-0.96%200.223-0.866%200.411-0.612%200.665-0.241%200.942q0%200.625%200.313%201.103t0.817%200.741%201.063%200.393%201.138%200.129zM12.509%206.223h1.902v0.964h-1.902v1.955h-0.938v-1.955h-1.893v-0.964h1.893v-1.938h0.938v1.938z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.payment {
  width: 40px;
  height: 25px;
  top: 7px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
.payment-mastercard {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2232%22%20viewBox%3D%220%200%2041%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M11.982%2016.661h-0.232q-0.839%200-0.839%200.571%200%200.393%200.357%200.393%200.304%200%200.5-0.268t0.214-0.696zM19.036%2016.018h1.107v-0.054q0.018-0.071%200.009-0.116t-0.018-0.125-0.036-0.143-0.080-0.116-0.134-0.089-0.205-0.036q-0.5%200-0.643%200.679zM28.679%2016.661h-0.214q-0.857%200-0.857%200.571%200%200.393%200.357%200.393%200.304%200%200.5-0.268t0.214-0.696zM34.375%2016.196q0-0.732-0.536-0.732-0.339%200-0.554%200.357t-0.214%200.911q0%200.75%200.5%200.75%200.357%200%200.58-0.357t0.223-0.929zM8.571%2013.679h1.554l-0.786%204.679h-1l0.571-3.589-1.268%203.589h-0.696l-0.071-3.571-0.607%203.571h-0.946l0.786-4.679h1.446l0.036%202.911zM13.089%2015.589q0%200.107-0.071%200.75-0.286%201.804-0.304%202.018h-0.839l0.018-0.393q-0.357%200.464-1.036%200.464-0.411%200-0.67-0.286t-0.259-0.75q0-0.696%200.464-1.080t1.304-0.384q0.25%200%200.411%200.018%200-0.054%200.009-0.098t0.018-0.080%200.009-0.054q0-0.357-0.643-0.357-0.518%200-1.054%200.179%200-0.071%200.125-0.857%200.679-0.196%201.196-0.196%201.321%200%201.321%201.107zM15.875%2014.554l-0.143%200.875q-0.393-0.054-0.732-0.054-0.482%200-0.482%200.304%200%200.143%200.080%200.214t0.384%200.196q0.714%200.339%200.714%201.071%200%201.286-1.554%201.268-0.607%200-1.036-0.107%200-0.036%200.125-0.875%200.518%200.143%200.911%200.143%200.571%200%200.571-0.339%200-0.125-0.080-0.205t-0.384-0.223q-0.768-0.357-0.768-1.054%200-1.286%201.5-1.286%200.536%200%200.893%200.071zM17.446%2014.554h0.5l-0.125%200.929h-0.518q-0.036%200.304-0.116%200.723t-0.125%200.688-0.045%200.321q0%200.286%200.339%200.286%200.143%200%200.286-0.036l-0.143%200.839q-0.375%200.125-0.714%200.125-0.768%200-0.804-0.839%200-0.214%200.143-1%200.054-0.357%200.446-2.607h0.982zM21.071%2015.857q0%200.411-0.125%200.929h-1.982q-0.054%200.393%200.179%200.589t0.679%200.196q0.536%200%201.036-0.25l-0.161%200.964q-0.536%200.143-1.018%200.143-1.696%200-1.696-1.696%200-0.982%200.491-1.616t1.241-0.634q0.625%200%200.991%200.375t0.366%201zM23.554%2014.536q-0.232%200.411-0.393%201.107-0.393-0.036-0.554%200.429t-0.446%202.286h-1l0.054-0.25q0.393-2.321%200.518-3.554h0.911l-0.054%200.589q0.25-0.375%200.455-0.527t0.509-0.080zM26.893%2013.804l-0.161%201.018q-0.5-0.25-0.893-0.25-0.554%200-0.911%200.491t-0.357%201.259q0%200.536%200.241%200.839t0.688%200.304q0.375%200%200.857-0.232l-0.179%201.054q-0.5%200.143-0.893%200.143-0.804%200-1.277-0.545t-0.473-1.473q0-1.25%200.634-2.045t1.634-0.795q0.464%200%201.089%200.232zM29.786%2015.589q0%200.321-0.071%200.75-0.232%201.411-0.304%202.018h-0.821l0.018-0.393q-0.357%200.464-1.054%200.464-0.411%200-0.661-0.286t-0.25-0.75q0-0.696%200.455-1.080t1.295-0.384q0.268%200%200.411%200.018%200.036-0.125%200.036-0.232%200-0.357-0.643-0.357-0.518%200-1.054%200.179%200-0.071%200.143-0.857%200.679-0.196%201.196-0.196%201.304%200%201.304%201.107zM32.304%2014.536q-0.25%200.429-0.375%201.107-0.411-0.036-0.563%200.411t-0.455%202.304h-1l0.054-0.25q0.339-1.857%200.518-3.554h0.929q0%200.196-0.071%200.589%200.268-0.375%200.473-0.527t0.491-0.080zM34.821%2013.679h1l-0.768%204.679h-0.946l0.054-0.339q-0.411%200.411-0.929%200.411-0.554%200-0.884-0.429t-0.33-1.143q0-0.946%200.491-1.643t1.152-0.696q0.554%200%200.946%200.518zM36.804%2016q0-2.643-1.295-4.875t-3.536-3.536-4.884-1.304q-3.232%200-5.857%201.964%202.268%202.071%203.054%205.071h-0.893q-0.786-2.679-2.821-4.518-2.036%201.839-2.821%204.518h-0.893q0.786-3%203.054-5.071-2.625-1.964-5.857-1.964-2.643%200-4.884%201.304t-3.536%203.536-1.295%204.875%201.295%204.875%203.536%203.536%204.884%201.304q3.232%200%205.857-1.964-2.143-1.982-2.946-4.714h0.893q0.821%202.464%202.714%204.161%201.893-1.696%202.714-4.161h0.893q-0.804%202.732-2.946%204.714%202.625%201.964%205.857%201.964%202.643%200%204.884-1.304t3.536-3.536%201.295-4.875zM41.143%204.571v22.857q0%200.929-0.679%201.607t-1.607%200.679h-36.571q-0.929%200-1.607-0.679t-0.679-1.607v-22.857q0-0.929%200.679-1.607t1.607-0.679h36.571q0.929%200%201.607%200.679t0.679%201.607z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.payment-visa {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2232%22%20viewBox%3D%220%200%2041%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M35.268%2017.679h-2.464q0.25-0.661%201.179-3.196l0.054-0.161q0.071-0.179%200.179-0.464t0.161-0.464l0.214%200.982zM9.482%2016.518l-1.036-5.268q-0.196-0.964-1.339-0.964h-4.786l-0.036%200.232q5.554%201.411%207.196%206zM12.679%2010.286l-2.893%207.821-0.304-1.589q-0.464-1.25-1.518-2.313t-2.339-1.58l2.411%209.107h3.125l4.661-11.446h-3.143zM15.161%2021.75h2.964l1.857-11.464h-2.964zM28.875%2010.571q-1.232-0.482-2.661-0.482-2.196%200-3.589%201.054t-1.411%202.732q-0.018%201.821%202.589%203.107%200.857%200.411%201.196%200.732t0.339%200.696q0%200.536-0.536%200.821t-1.232%200.286q-1.536%200-2.786-0.589l-0.393-0.196-0.411%202.571q1.321%200.607%203.304%200.607%202.321%200.018%203.723-1.054t1.438-2.857q0-1.893-2.5-3.107-0.875-0.446-1.268-0.75t-0.393-0.679q0-0.393%200.438-0.688t1.259-0.295q1.25-0.018%202.214%200.429l0.268%200.143zM36.464%2010.286h-2.286q-1.161%200-1.554%200.964l-4.393%2010.5h3.107l0.625-1.714h3.786q0.089%200.393%200.357%201.714h2.75zM41.143%204.571v22.857q0%200.929-0.679%201.607t-1.607%200.679h-36.571q-0.929%200-1.607-0.679t-0.679-1.607v-22.857q0-0.929%200.679-1.607t1.607-0.679h36.571q0.929%200%201.607%200.679t0.679%201.607z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.payment-american-express {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2232%22%20viewBox%3D%220%200%2041%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M2.125%2012.179h1.589l-0.804-1.929zM13.214%2021.571l1.321-1.411-1.25-1.411h-2.911v0.875h2.536v0.982h-2.536v0.964h2.839zM16.036%2020.179l1.768%201.964v-3.875zM21.179%2019.339q0-0.589-0.714-0.589h-1.5v1.232h1.482q0.732%200%200.732-0.643zM26.339%2019.268q0-0.518-0.75-0.518h-1.464v1.089h1.446q0.768%200%200.768-0.571zM21.375%2010.946q0-0.518-0.75-0.518h-1.464v1.071h1.446q0.768%200%200.768-0.554zM29.571%2012.179h1.589l-0.786-1.929zM12.482%209.411v4.839h-1.179v-3.786l-1.679%203.786h-1.018l-1.679-3.786v3.786h-2.357l-0.446-1.071h-2.411l-0.446%201.071h-1.25l2.071-4.839h1.714l1.964%204.589v-4.589h1.893l1.518%203.286%201.375-3.286h1.929zM22.411%2019.339q0%200.357-0.098%200.625t-0.25%200.446-0.402%200.295-0.464%200.179-0.563%200.080-0.563%200.018-0.58-0.009-0.527-0.009v1.625h-2.25l-1.429-1.607-1.482%201.607h-4.571v-4.839h4.643l1.429%201.589%201.464-1.589h3.696q1.946%200%201.946%201.589zM17.214%2013.25v1h-3.875v-4.839h3.875v1.018h-2.714v0.875h2.643v0.982h-2.643v0.964h2.714zM41.143%2023.232v4.089q0%200.982-0.688%201.688t-1.67%200.705h-36.429q-0.982%200-1.67-0.705t-0.688-1.688v-12.107h1.982l0.446-1.089h0.982l0.446%201.089h3.893v-0.821l0.339%200.821h2.018l0.357-0.839v0.839h9.661v-1.768l0.179-0.018q0.179%200%200.179%200.25v1.536h4.982v-0.411q0.411%200.214%200.982%200.321t0.938%200.116%201.125-0.009%200.92-0.018l0.446-1.089h1l0.446%201.089h4.054v-1.036l0.607%201.036h3.25v-6.75h-3.214v0.786l-0.446-0.786h-3.304v0.786l-0.411-0.786h-4.446q-1.232%200-1.946%200.393v-0.393h-3.071v0.393q-0.429-0.393-1.304-0.393h-11.214l-0.768%201.732-0.768-1.732h-3.536v0.786l-0.393-0.786h-3.018l-1.393%203.196v-6.982q0-0.982%200.688-1.688t1.67-0.705h36.429q0.982%200%201.67%200.705t0.688%201.688v12.107h-2.143q-0.911%200-1.446%200.393v-0.393h-3.161q-0.982%200-1.393%200.393v-0.393h-5.643v0.393q-0.554-0.393-1.554-0.393h-3.732v0.393q-0.411-0.393-1.625-0.393h-4.179l-0.964%201.036-0.893-1.036h-6.232v6.75h6.125l0.982-1.054%200.929%201.054h3.768v-1.589h0.375q1.054%200%201.607-0.232v1.821h3.107v-1.768h0.143q0.143%200%200.179%200.036t0.036%200.179v1.554h9.446q1.018%200%201.571-0.429v0.429h3q1.071%200%201.696-0.304zM27.607%2019.054q0%200.411-0.214%200.768t-0.607%200.518q0.446%200.161%200.607%200.464t0.161%200.821v0.964h-1.161v-0.804q0-0.589-0.214-0.777t-0.821-0.188h-1.232v1.768h-1.161v-4.839h2.75q0.857%200%201.375%200.268t0.518%201.036zM22.661%2010.714q0%200.429-0.223%200.786t-0.598%200.518q0.464%200.161%200.616%200.455t0.152%200.83v0.946h-1.161q0-0.161%200.009-0.473t0-0.446-0.054-0.33-0.152-0.286-0.313-0.152-0.527-0.063h-1.25v1.75h-1.143v-4.839l2.732%200.018q0.875%200%201.393%200.259t0.518%201.027zM32.107%2021.589v1h-3.857v-4.839h3.857v1h-2.696v0.875h2.643v0.982h-2.643v0.964zM24.5%209.411v4.839h-1.179v-4.839h1.179zM36.875%2021.054q0%201.536-1.821%201.536h-2.25v-1.036h2.25q0.607%200%200.607-0.446%200-0.286-0.304-0.375t-0.741-0.089-0.884-0.063-0.75-0.402-0.304-0.982q0-0.696%200.464-1.071t1.179-0.375h2.321v1.018h-2.125q-0.643%200-0.643%200.446%200%200.286%200.313%200.366t0.75%200.071%200.875%200.045%200.75%200.384%200.313%200.973zM41.143%2020.161v1.804q-0.429%200.625-1.571%200.625h-2.232v-1.036h2.232q0.589%200%200.589-0.446%200-0.232-0.223-0.339t-0.554-0.098-0.714-0.036-0.714-0.143-0.554-0.429-0.223-0.866q0-0.696%200.473-1.071t1.188-0.375h2.304v1.018h-2.107q-0.643%200-0.643%200.446%200%200.357%200.518%200.393t1.223%200.089%201.009%200.464zM38.196%209.429v4.821h-1.643l-2.179-3.625v3.625h-2.357l-0.464-1.071h-2.393l-0.446%201.071h-1.339q-2.304%200-2.304-2.375%200-2.464%202.375-2.464h1.125v1.054q-0.125%200-0.5-0.018t-0.509-0.009-0.411%200.036-0.384%200.116-0.259%200.241-0.205%200.411-0.054%200.598q0%200.679%200.241%201.036t0.884%200.357h0.518l1.643-3.804h1.732l1.946%204.571v-4.571h1.768l2.036%203.357v-3.357h1.179z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.payment-paypal {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2232%22%20viewBox%3D%220%200%2041%2032%22%3E%0A%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M5.75%2015.125h-0.268q-0.339%200-0.339-0.321%200-0.5%200.339-1.518%200.089-0.268%200.268-0.348t0.5-0.080q1.375%200%201.375%200.875%200%200.732-0.545%201.063t-1.33%200.33zM11.857%2018q-0.839%200-0.839-0.518%200-1.107%202.196-1.107l0.054%200.054q-0.089%201.571-1.411%201.571zM25.679%2015.161h-0.268q-0.339%200-0.339-0.339%200-0.5%200.339-1.518%200.089-0.268%200.259-0.339t0.509-0.071q1.375%200%201.375%200.875%200%200.732-0.545%201.063t-1.33%200.33zM31.786%2018.018q-0.839%200-0.839-0.536%200-1.107%202.196-1.107l0.054%200.054q-0.089%201.589-1.411%201.589zM6.661%2011.464h-2.286q-0.143%200-0.259%200.071t-0.152%200.134-0.125%200.223q-0.054%200.125-0.804%203.393t-0.75%203.429q0%200.125%200.098%200.223t0.241%200.098h1.107q0.446%200%200.58-0.616l0.268-1.232t0.58-0.616q0.839%200%201.563-0.134t1.438-0.438%201.134-0.938%200.42-1.509q0-0.643-0.259-1.089t-0.732-0.652-0.955-0.277-1.107-0.071zM12.839%2013.179q-0.679%200-1.321%200.107-0.036%200-0.152%200.018t-0.161%200.027l-0.134%200.027t-0.134%200.036-0.116%200.054-0.116%200.071-0.089%200.089-0.080%200.125-0.071%200.161q-0.161%200.518-0.161%200.696t0.161%200.179q0.089%200%200.384-0.089t0.348-0.107q0.536-0.143%201.036-0.143%201.321%200%201.321%200.643%200%200.196-0.179%200.25-0.143%200.036-0.321%200.054t-0.384%200.027-0.313%200.027q-0.679%200.071-1.152%200.179t-1.009%200.348-0.813%200.696-0.277%201.116q0%200.679%200.464%201.063t1.143%200.384q0.429%200%200.813-0.116t0.589-0.232%200.688-0.42q-0.054%200.125-0.054%200.268t0.098%200.241%200.223%200.098h1q0.018-0.018%200.125-0.063t0.134-0.063%200.089-0.063%200.089-0.098%200.045-0.143l0.804-3.464q0.071-0.232%200.071-0.536%200-1.446-2.589-1.446zM22.268%2013.268h-1.321q-0.393%200-0.696%200.411-0.089%200.125-0.527%200.911t-0.83%201.455-0.464%200.688l-0.089-0.071q0-1.375-0.482-2.964-0.018-0.089-0.063-0.152t-0.107-0.116-0.116-0.089-0.152-0.054-0.152-0.027-0.17-0.018-0.161-0.009h-0.33q-0.679%200-0.679%200.375l0.018%200.089q0.089%200.946%200.446%202.696t0.446%202.554q0.036%200.286%200.036%200.429%200%200.339-0.545%201.098t-0.545%201.045q0%200.232%200.714%200.232%201.089%200%201.357-0.446l4.375-7.411q0.179-0.357%200.179-0.464%200-0.161-0.143-0.161zM26.589%2011.5h-2.304q-0.321%200-0.518%200.411-0.107%200.232-0.83%203.42t-0.723%203.402q0%200.357%200.768%200.357h0.455t0.17-0.018%200.152-0.036%200.152-0.054%200.116-0.080%200.098-0.107%200.054-0.152l0.375-1.625q0.036-0.179%200.188-0.304t0.348-0.125q0.839%200%201.563-0.125t1.438-0.438%201.134-0.938%200.42-1.5q0-0.643-0.259-1.089t-0.732-0.652-0.955-0.277-1.107-0.071zM32.768%2013.179q-0.464%200-1.321%200.107-0.679%200.107-0.857%200.286-0.125%200.143-0.196%200.339-0.143%200.429-0.143%200.696%200%200.179%200.143%200.179%200.018%200%200.732-0.214%200.536-0.143%201.036-0.143%201.321%200%201.321%200.643%200%200.214-0.179%200.25-0.071%200.018-1.018%200.125-0.679%200.071-1.152%200.179t-1.009%200.348-0.813%200.696-0.277%201.116%200.464%201.045%201.143%200.384q0.429%200%200.804-0.107t0.607-0.232%200.679-0.429q-0.054%200.268-0.054%200.286%200%200.089%200.036%200.152t0.116%200.098%200.143%200.063%200.188%200.036%200.17%200.009h0.313q0.75%200%200.857-0.446l0.804-3.464q0.054-0.268%200.054-0.554%200-1.446-2.589-1.446zM38.518%2011.554h-0.982q-0.446%200-0.589%200.714-0.179%200.786-0.652%202.982t-0.759%203.393v0.089q0%200.286%200.286%200.321h1.036q0.179%200%200.33-0.116t0.188-0.295l1.482-6.679h-0.018l0.018-0.089q0-0.125-0.098-0.223t-0.241-0.098zM41.143%204.571v22.857q0%200.929-0.679%201.607t-1.607%200.679h-36.571q-0.929%200-1.607-0.679t-0.679-1.607v-22.857q0-0.929%200.679-1.607t1.607-0.679h36.571q0.929%200%201.607%200.679t0.679%201.607z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-full {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 740px) {
  .container,
  .container-full {
    width: 720px;
  }
  .container-tablet {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-tablet {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 980px) {
  .container,
  .container-full {
    width: 960px;
  }
  .container-desktop {
    width: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-desktop {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1140px) {
  .container,
  .container-full {
    width: 1120px;
  }
  .container-hd {
    width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-full-hd {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.push-1 {
  left: 8.33333333%;
}
.push-2 {
  left: 16.66666667%;
}
.push-3 {
  left: 25%;
}
.push-4 {
  left: 33.33333333%;
}
.push-5 {
  left: 41.66666667%;
}
.push-6 {
  left: 50%;
}
.push-7 {
  left: 58.33333333%;
}
.push-8 {
  left: 66.66666667%;
}
.push-9 {
  left: 75%;
}
.push-10 {
  left: 83.33333333%;
}
.push-11 {
  left: 91.66666667%;
}
.pull-1 {
  left: -8.33333333%;
}
.pull-2 {
  left: -16.66666667%;
}
.pull-3 {
  left: -25%;
}
.pull-4 {
  left: -33.33333333%;
}
.pull-5 {
  left: -41.66666667%;
}
.pull-6 {
  left: -50%;
}
.pull-7 {
  left: -58.33333333%;
}
.pull-8 {
  left: -66.66666667%;
}
.pull-9 {
  left: -75%;
}
.pull-10 {
  left: -83.33333333%;
}
.pull-11 {
  left: -91.66666667%;
}
@media only screen and (min-width: 740px) {
  .col-1-tablet,
  .col-2-tablet,
  .col-3-tablet,
  .col-4-tablet,
  .col-5-tablet,
  .col-6-tablet,
  .col-7-tablet,
  .col-8-tablet,
  .col-9-tablet,
  .col-10-tablet,
  .col-11-tablet,
  .col-12-tablet {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-1-tablet {
    width: 8.33333333%;
  }
  .col-2-tablet {
    width: 16.66666667%;
  }
  .col-3-tablet {
    width: 25%;
  }
  .col-4-tablet {
    width: 33.33333333%;
  }
  .col-5-tablet {
    width: 41.66666667%;
  }
  .col-6-tablet {
    width: 50%;
  }
  .col-7-tablet {
    width: 58.33333333%;
  }
  .col-8-tablet {
    width: 66.66666667%;
  }
  .col-9-tablet {
    width: 75%;
  }
  .col-10-tablet {
    width: 83.33333333%;
  }
  .col-11-tablet {
    width: 91.66666667%;
  }
  .col-12-tablet {
    width: 100%;
  }
  .push-1-tablet {
    left: 8.33333333%;
  }
  .push-2-tablet {
    left: 16.66666667%;
  }
  .push-3-tablet {
    left: 25%;
  }
  .push-4-tablet {
    left: 33.33333333%;
  }
  .push-5-tablet {
    left: 41.66666667%;
  }
  .push-6-tablet {
    left: 50%;
  }
  .push-7-tablet {
    left: 58.33333333%;
  }
  .push-8-tablet {
    left: 66.66666667%;
  }
  .push-9-tablet {
    left: 75%;
  }
  .push-10-tablet {
    left: 83.33333333%;
  }
  .push-11-tablet {
    left: 91.66666667%;
  }
  .pull-1-tablet {
    left: -8.33333333%;
  }
  .pull-2-tablet {
    left: -16.66666667%;
  }
  .pull-3-tablet {
    left: -25%;
  }
  .pull-4-tablet {
    left: -33.33333333%;
  }
  .pull-5-tablet {
    left: -41.66666667%;
  }
  .pull-6-tablet {
    left: -50%;
  }
  .pull-7-tablet {
    left: -58.33333333%;
  }
  .pull-8-tablet {
    left: -66.66666667%;
  }
  .pull-9-tablet {
    left: -75%;
  }
  .pull-10-tablet {
    left: -83.33333333%;
  }
  .pull-11-tablet {
    left: -91.66666667%;
  }
}
@media only screen and (min-width: 980px) {
  .col-1-desktop,
  .col-2-desktop,
  .col-3-desktop,
  .col-4-desktop,
  .col-5-desktop,
  .col-6-desktop,
  .col-7-desktop,
  .col-8-desktop,
  .col-9-desktop,
  .col-10-desktop,
  .col-11-desktop,
  .col-12-desktop {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-1-desktop {
    width: 8.33333333%;
  }
  .col-2-desktop {
    width: 16.66666667%;
  }
  .col-3-desktop {
    width: 25%;
  }
  .col-4-desktop {
    width: 33.33333333%;
  }
  .col-5-desktop {
    width: 41.66666667%;
  }
  .col-6-desktop {
    width: 50%;
  }
  .col-7-desktop {
    width: 58.33333333%;
  }
  .col-8-desktop {
    width: 66.66666667%;
  }
  .col-9-desktop {
    width: 75%;
  }
  .col-10-desktop {
    width: 83.33333333%;
  }
  .col-11-desktop {
    width: 91.66666667%;
  }
  .col-12-desktop {
    width: 100%;
  }
  .push-1-desktop {
    left: 8.33333333%;
  }
  .push-2-desktop {
    left: 16.66666667%;
  }
  .push-3-desktop {
    left: 25%;
  }
  .push-4-desktop {
    left: 33.33333333%;
  }
  .push-5-desktop {
    left: 41.66666667%;
  }
  .push-6-desktop {
    left: 50%;
  }
  .push-7-desktop {
    left: 58.33333333%;
  }
  .push-8-desktop {
    left: 66.66666667%;
  }
  .push-9-desktop {
    left: 75%;
  }
  .push-10-desktop {
    left: 83.33333333%;
  }
  .push-11-desktop {
    left: 91.66666667%;
  }
  .pull-1-desktop {
    left: -8.33333333%;
  }
  .pull-2-desktop {
    left: -16.66666667%;
  }
  .pull-3-desktop {
    left: -25%;
  }
  .pull-4-desktop {
    left: -33.33333333%;
  }
  .pull-5-desktop {
    left: -41.66666667%;
  }
  .pull-6-desktop {
    left: -50%;
  }
  .pull-7-desktop {
    left: -58.33333333%;
  }
  .pull-8-desktop {
    left: -66.66666667%;
  }
  .pull-9-desktop {
    left: -75%;
  }
  .pull-10-desktop {
    left: -83.33333333%;
  }
  .pull-11-desktop {
    left: -91.66666667%;
  }
}
@media only screen and (min-width: 1140px) {
  .col-1-hd,
  .col-2-hd,
  .col-3-hd,
  .col-4-hd,
  .col-5-hd,
  .col-6-hd,
  .col-7-hd,
  .col-8-hd,
  .col-9-hd,
  .col-10-hd,
  .col-11-hd,
  .col-12-hd {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
  }
  .col-1-hd {
    width: 8.33333333%;
  }
  .col-2-hd {
    width: 16.66666667%;
  }
  .col-3-hd {
    width: 25%;
  }
  .col-4-hd {
    width: 33.33333333%;
  }
  .col-5-hd {
    width: 41.66666667%;
  }
  .col-6-hd {
    width: 50%;
  }
  .col-7-hd {
    width: 58.33333333%;
  }
  .col-8-hd {
    width: 66.66666667%;
  }
  .col-9-hd {
    width: 75%;
  }
  .col-10-hd {
    width: 83.33333333%;
  }
  .col-11-hd {
    width: 91.66666667%;
  }
  .col-12-hd {
    width: 100%;
  }
  .push-1-hd {
    left: 8.33333333%;
  }
  .push-2-hd {
    left: 16.66666667%;
  }
  .push-3-hd {
    left: 25%;
  }
  .push-4-hd {
    left: 33.33333333%;
  }
  .push-5-hd {
    left: 41.66666667%;
  }
  .push-6-hd {
    left: 50%;
  }
  .push-7-hd {
    left: 58.33333333%;
  }
  .push-8-hd {
    left: 66.66666667%;
  }
  .push-9-hd {
    left: 75%;
  }
  .push-10-hd {
    left: 83.33333333%;
  }
  .push-11-hd {
    left: 91.66666667%;
  }
  .pull-1-hd {
    left: -8.33333333%;
  }
  .pull-2-hd {
    left: -16.66666667%;
  }
  .pull-3-hd {
    left: -25%;
  }
  .pull-4-hd {
    left: -33.33333333%;
  }
  .pull-5-hd {
    left: -41.66666667%;
  }
  .pull-6-hd {
    left: -50%;
  }
  .pull-7-hd {
    left: -58.33333333%;
  }
  .pull-8-hd {
    left: -66.66666667%;
  }
  .pull-9-hd {
    left: -75%;
  }
  .pull-10-hd {
    left: -83.33333333%;
  }
  .pull-11-hd {
    left: -91.66666667%;
  }
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-float {
  float: none;
}
.no-background {
  background: transparent;
}
.no-border {
  border: 0;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.font-100 {
  font-weight: 100;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}
.font-normal {
  font-style: normal;
}
.font-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.none {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center-element {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.img-responsive {
  max-width: 100%;
}
.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}
.field-group {
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: hidden;
}
.field-group label {
  padding-top: 8px;
}
.field {
  width: 100%;
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
.checkbox,
.radio {
  display: inline-block;
  position: relative;
  margin-top: .5em;
  margin-bottom: .5em;
}
.checkbox label,
.radio label {
  padding-left: 20px;
  padding-top: 0;
  display: inline-block;
}
.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"] {
  position: absolute;
  top: 4px;
  left: 0;
}
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 740px) {
  .no-float-tablet {
    float: none;
  }
  .no-padding-tablet {
    padding: 0;
  }
  .no-margin-tablet {
    margin: 0;
  }
  .none-tablet {
    display: none;
  }
  .block-tablet {
    display: block;
  }
  .inline-block-tablet {
    display: inline-block;
  }
  .inline-tablet {
    display: inline;
  }
  .text-left-tablet {
    text-align: left;
  }
  .text-right-tablet {
    text-align: right;
  }
  .text-center-tablet {
    text-align: center;
  }
  .text-justify-tablet {
    text-align: justify;
  }
  .no-col-tablet {
    width: auto;
    float: none;
  }
  .no-push-tablet,
  .no-pull-tablet {
    left: 0;
  }
}
@media only screen and (min-width: 980px) {
  .no-float-desktop {
    float: none;
  }
  .no-padding-desktop {
    padding: 0;
  }
  .no-margin-desktop {
    margin: 0;
  }
  .none-desktop {
    display: none;
  }
  .block-desktop {
    display: block;
  }
  .inline-block-desktop {
    display: inline-block;
  }
  .inline-desktop {
    display: inline;
  }
  .text-left-desktop {
    text-align: left;
  }
  .text-right-desktop {
    text-align: right;
  }
  .text-center-desktop {
    text-align: center;
  }
  .text-justify-desktop {
    text-align: justify;
  }
  .no-col-desktop {
    width: auto;
    float: none;
  }
  .no-push-desktop,
  .no-pull-desktop {
    left: 0;
  }
}
@media only screen and (min-width: 1140px) {
  .no-float-hd {
    float: none;
  }
  .no-padding-hd {
    padding: 0;
  }
  .no-margin-hd {
    margin: 0;
  }
  .none-hd {
    display: none;
  }
  .block-hd {
    display: block;
  }
  .inline-block-hd {
    display: inline-block;
  }
  .inline-hd {
    display: inline;
  }
  .text-left-hd {
    text-align: left;
  }
  .text-right-hd {
    text-align: right;
  }
  .text-center-hd {
    text-align: center;
  }
  .text-justify-hd {
    text-align: justify;
  }
  .no-col-hd {
    width: auto;
    float: none;
  }
  .no-push-hd,
  .no-pull-hd {
    left: 0;
  }
}
@media print {
  .no-float-print {
    float: none;
  }
  .no-padding-print {
    padding: 0;
  }
  .no-margin-print {
    margin: 0;
  }
  .none-print {
    display: none;
  }
  .block-print {
    display: block;
  }
  .inline-block-print {
    display: inline-block;
  }
  .inline-print {
    display: inline;
  }
  .text-left-print {
    text-align: left;
  }
  .text-right-print {
    text-align: right;
  }
  .text-center-print {
    text-align: center;
  }
  .text-justify-print {
    text-align: justify;
  }
  .no-col-print {
    width: auto;
    float: none;
  }
  .no-push-print,
  .no-pull-print {
    left: 0;
  }
}
img {
  max-width: 100%;
}
.banner {
  background: url(img/p_login.jpg) 0 0 no-repeat;
  background-size: cover;
  text-align: center;
}
.banner-lead:after {
  width: 270px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-image: url(img/divider-xl-white.svg);
  height: 55px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  content: "";
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.banner-lead-1,
.banner-lead-2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.banner-lead-1 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.banner-lead-2 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.banner-buttons {
  padding-bottom: 20px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.banner-buttons .button {
  margin: 10px 0;
}
.header {
  background: #212121;
  padding-bottom: 15px;
  position: relative;
}
.header:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
  position: absolute;
  bottom: 0;
  left: 0;
}
.logo {
  width: 160px;
  height: 95px;
  background: url(img/logo.jpg) 50% 50% no-repeat;
  display: inline-block;
  float: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  margin-top: 10px;
}
.logo:hover {
  opacity: .8;
}
.navigation-toggle-label {
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  float: right;
  position: relative;
  height: 20px;
  width: 25px;
  background: transparent;
  margin-top: 50px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}
.navigation-toggle-label:before,
.navigation-toggle-label:after,
.navigation-toggle-label .navigation-toggle-label-inner:before {
  content: "";
  width: 25px;
  height: 1px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.navigation-toggle-label:after {
  -webkit-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}
.navigation-toggle-label .navigation-toggle-label-inner:before {
  -webkit-transform: translate3d(0, 14px, 0);
  transform: translate3d(0, 14px, 0);
}
.navigation-toggle-checkbox[type=checkbox]:checked + .navigation-toggle-label:before {
  -webkit-transform: translate3d(0, 4px, 0) rotate(-225deg);
  transform: translate3d(0, 4px, 0) rotate(-225deg);
}
.navigation-toggle-checkbox[type=checkbox]:checked + .navigation-toggle-label:after {
  opacity: 0;
}
.navigation-toggle-checkbox[type=checkbox]:checked + .navigation-toggle-label .navigation-toggle-label-inner:before {
  -webkit-transform: translate3d(0, 4px, 0) rotate(45deg);
  transform: translate3d(0, 4px, 0) rotate(45deg);
}
.navigation {
  clear: both;
}
.navigation {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  max-height: 1px;
  overflow: hidden;
}
.navigation-toggle-checkbox[type=checkbox]:checked + .navigation-toggle-label + .navigation {
  opacity: 1;
  max-height: 400px;
}
.navigation-menu {
	color: #000000
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-menu li {
	color: #000000
  margin: 0;
  padding: 0;
}
.navigation-menu .navigation-item {
  display: block;
  color: #000000
  text-align: left;
  margin-top: 10px;
}
.navigation-menu .navigation-item > a {
  font-family: "Yeseva One", cursive;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #000000;
  font-weight: 400;
  margin: 0;
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.navigation-menu .navigation-item > a:hover,
.navigation-menu .navigation-item > a.active {
  color: #c90;
}

.about-block .about-block-content {
  padding-left: 30px;
  padding-right: 30px;
}
.about-block .about-chef {
  margin-top: 20px;
}
.about-block.active .about-block-content h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.about-block.active .about-block-content p {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.about-block.active .about-block-content img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.about-block.active .about-block-img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.ingredients-block {
  background: url(img/ingredients-bg.jpg) 0 0 no-repeat;
  background-size: cover;
}
.feature-image-group {
  padding-top: 20px;
  text-align: center;
}
.feature-image {
  display: inline-block;
  margin: 0 5px;
  border: 5px solid #494d4e;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.ingredients-block.active {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.ingredients-block.active .feature-box {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.ingredients-block.active .feature-box h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.ingredients-block.active .feature-box p {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.ingredients-block.active .feature-box .feature-image {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.ingredients-block.active .feature-box .feature-image-1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.ingredients-block.active .feature-box .feature-image-2 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.ingredients-block.active .feature-box .feature-image-3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.food-menu-block {
  background: url(img/cream-pixels.png) 0 0 repeat;
}
.food-menu-block.active .food-menu-content:first-child {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.reviews-block {
  background: url(img/reviews-bg.jpg) 0 50% no-repeat;
  background-size: cover;
}
.reviews-block.active {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.reviews-block.active .feature-box {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.reviews-block.active .feature-box h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.reviews-block.active .feature-box blockquote {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.reservations-block {
  background: url(img/pw-maze-white.png) 0 0 repeat;
}
.reservations-block .field {
  border: 1px solid #ccc;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.reservations-block .field:focus {
  outline: 0;
  border-color: #c90;
}
.reservations-submit {
  margin-top: 20px;
  padding: .5em 2.5em;
  font-weight: 400;
}
.reservations-block.active .reservation-block-img {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.reservations-block.active .reservation-block-img:first-child {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.reservations-block.active .reservation-block-form {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
  background: #212121;
}
.footer strong {
  color: #fff;
}
.footer-heading {
  font-family: "Yeseva One", cursive;
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #c90;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}
.footer-heading:after {
  width: 270px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  background-image: url(img/divider-sm-white.svg);
  height: 30px;
  margin-top: 20px;
  content: "";
}
.footer-column {
  position: relative;
  padding-top: 20px;
}
.footer-column p {
  margin: 0;
}
.footer-column:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
  position: absolute;
  top: 20px;
  left: 0;
}
.footer-column:first-child {
  padding-top: 0;
}
.footer-column:first-child:after {
  content: none;
}
.icon-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.icon-list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.icon-list-inline li {
  margin-left: 10px;
}
.icon-list-inline li:first-child {
  margin-left: 0;
}
.footer-social-list .social-twitter:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%2300acee%22%20d%3D%22M14.464%203.643q-0.598%200.875-1.446%201.491%200.009%200.125%200.009%200.375%200%201.161-0.339%202.317t-1.031%202.219-1.647%201.879-2.304%201.304-2.884%200.487q-2.42%200-4.429-1.295%200.313%200.036%200.696%200.036%202.009%200%203.58-1.232-0.938-0.018-1.679-0.576t-1.018-1.424q0.295%200.045%200.545%200.045%200.384%200%200.759-0.098-1-0.205-1.656-0.996t-0.656-1.835v-0.036q0.607%200.339%201.304%200.366-0.589-0.393-0.938-1.027t-0.348-1.375q0-0.786%200.393-1.455%201.080%201.33%202.629%202.129t3.317%200.888q-0.071-0.339-0.071-0.661%200-1.196%200.844-2.040t2.040-0.844q1.25%200%202.107%200.911%200.973-0.188%201.83-0.696-0.33%201.027-1.268%201.589%200.83-0.089%201.661-0.446z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.footer-social-list .social-facebook:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2216%22%20viewBox%3D%220%200%209%2016%22%3E%0A%3Cpath%20fill%3D%22%233b5998%22%20d%3D%22M8.563%200.107v2.357h-1.402q-0.768%200-1.036%200.321t-0.268%200.964v1.688h2.616l-0.348%202.643h-2.268v6.777h-2.732v-6.777h-2.277v-2.643h2.277v-1.946q0-1.661%200.929-2.576t2.473-0.915q1.313%200%202.036%200.107z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.footer-social-list .social-google-plus:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2216%22%20viewBox%3D%220%200%2015%2016%22%3E%0A%3Cpath%20fill%3D%22%23e45135%22%20d%3D%22M6.563%207.107q0%200.321%200.286%200.629t0.692%200.607%200.808%200.656%200.688%200.929%200.286%201.268q0%200.804-0.429%201.545-0.643%201.089-1.884%201.603t-2.661%200.513q-1.179%200-2.201-0.371t-1.531-1.228q-0.33-0.536-0.33-1.17%200-0.723%200.397-1.339t1.058-1.027q1.17-0.732%203.607-0.893-0.286-0.375-0.424-0.661t-0.138-0.652q0-0.321%200.188-0.759-0.411%200.036-0.607%200.036-1.321%200-2.228-0.862t-0.906-2.183q0-0.732%200.321-1.42t0.884-1.17q0.688-0.589%201.629-0.875t1.942-0.286h3.732l-1.232%200.786h-1.17q0.661%200.563%201%201.188t0.339%201.429q0%200.643-0.219%201.156t-0.527%200.83-0.621%200.58-0.531%200.549-0.219%200.589zM5.259%206.25q0.339%200%200.696-0.147t0.589-0.388q0.473-0.509%200.473-1.42%200-0.518-0.152-1.116t-0.433-1.156-0.754-0.924-1.045-0.366q-0.375%200-0.737%200.174t-0.585%200.469q-0.42%200.527-0.42%201.429%200%200.411%200.089%200.871t0.281%200.92%200.464%200.826%200.67%200.598%200.862%200.232zM5.277%2014.045q0.518%200%200.996-0.116t0.884-0.348%200.652-0.652%200.246-0.973q0-0.223-0.063-0.438t-0.129-0.375-0.241-0.371-0.263-0.313-0.344-0.308-0.326-0.259-0.371-0.268-0.326-0.232q-0.143-0.018-0.429-0.018-0.473%200-0.938%200.063t-0.96%200.223-0.866%200.411-0.612%200.665-0.241%200.942q0%200.625%200.313%201.103t0.817%200.741%201.063%200.393%201.138%200.129zM12.509%206.223h1.902v0.964h-1.902v1.955h-0.938v-1.955h-1.893v-0.964h1.893v-1.938h0.938v1.938z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
.footer-social-list .social-youtube:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cpath%20fill%3D%22%23c4302b%22%20d%3D%22M8.67%2011.107v1.884q0%200.598-0.348%200.598-0.205%200-0.402-0.196v-2.688q0.196-0.196%200.402-0.196%200.348%200%200.348%200.598zM11.688%2011.116v0.411h-0.804v-0.411q0-0.607%200.402-0.607t0.402%200.607zM3.063%209.17h0.955v-0.839h-2.786v0.839h0.938v5.080h0.893v-5.080zM5.634%2014.25h0.795v-4.411h-0.795v3.375q-0.268%200.375-0.509%200.375-0.161%200-0.188-0.188-0.009-0.027-0.009-0.313v-3.25h-0.795v3.491q0%200.438%200.071%200.652%200.107%200.33%200.518%200.33%200.429%200%200.911-0.545v0.482zM9.464%2012.929v-1.759q0-0.652-0.080-0.884-0.152-0.5-0.634-0.5-0.446%200-0.83%200.482v-1.938h-0.795v5.92h0.795v-0.429q0.402%200.491%200.83%200.491%200.482%200%200.634-0.491%200.080-0.241%200.080-0.893zM12.482%2012.839v-0.116h-0.813q0%200.455-0.018%200.545-0.063%200.321-0.357%200.321-0.411%200-0.411-0.616v-0.777h1.598v-0.92q0-0.705-0.241-1.036-0.348-0.455-0.946-0.455-0.607%200-0.955%200.455-0.25%200.33-0.25%201.036v1.545q0%200.705%200.259%201.036%200.348%200.455%200.964%200.455%200.643%200%200.964-0.473%200.161-0.241%200.188-0.482%200.018-0.080%200.018-0.518zM7.054%204.688v-1.875q0-0.616-0.384-0.616t-0.384%200.616v1.875q0%200.625%200.384%200.625t0.384-0.625zM13.473%2011.393q0%202.089-0.232%203.125-0.125%200.527-0.518%200.884t-0.911%200.411q-1.643%200.188-4.955%200.188t-4.955-0.188q-0.518-0.054-0.915-0.411t-0.513-0.884q-0.232-1-0.232-3.125%200-2.089%200.232-3.125%200.125-0.527%200.518-0.884t0.92-0.42q1.634-0.179%204.946-0.179t4.955%200.179q0.518%200.063%200.915%200.42t0.513%200.884q0.232%201%200.232%203.125zM4.563%200h0.911l-1.080%203.563v2.42h-0.893v-2.42q-0.125-0.661-0.545-1.893-0.33-0.92-0.58-1.67h0.946l0.634%202.348zM7.866%202.973v1.563q0%200.723-0.25%201.054-0.33%200.455-0.946%200.455-0.598%200-0.938-0.455-0.25-0.339-0.25-1.054v-1.563q0-0.714%200.25-1.045%200.339-0.455%200.938-0.455%200.616%200%200.946%200.455%200.25%200.33%200.25%201.045zM10.857%201.527v4.455h-0.813v-0.491q-0.473%200.554-0.92%200.554-0.411%200-0.527-0.33-0.071-0.214-0.071-0.67v-3.518h0.813v3.277q0%200.295%200.009%200.313%200.027%200.196%200.188%200.196%200.241%200%200.509-0.384v-3.402h0.813z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A");
}
@media only screen and (min-width: 740px) {
  .feature-box {
    padding: 50px 60px;
  }
  .header {
    background: transparent;
    opacity: .9;
    padding-bottom: 20px;
  }
  .header-inner {
    padding-left: 5px;
    padding-right: 5px;
  }
  .navigation-toggle-label {
    display: none;
  }
  .navigation {
    max-height: none;
    opacity: 1;
  }
  .banner {
    min-height: 550px;
  }
  .banner-inner {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 83.33333333%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 45px;
  }
  .banner-lead-1,
  .banner-lead-2 {
    display: block;
  }
  .banner-buttons {
    padding-bottom: 120px;
  }
  .banner-buttons .button {
    margin: 0 4px;
  }
  .navigation {
    float: right;
    margin-top: 0;
    clear: none;
  }
  .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .navigation-menu li {
    margin: 0;
    padding: 0 0 0 0;
    display: inline-block;
  }
  .navigation-menu .navigation-item {
    display: inline-block;
    margin: 0 5px;
  }
  .navigation-menu .navigation-item > a {
    font-family: "Yeseva One", cursive;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    margin-top: 1em;
    margin-bottom: .1em;
    color: #c90;
    font-weight: 400;
    margin: 0;
    color: #fff;
    padding: 50px 2px 0 0;
    position: relative;
  }
  .navigation-menu .navigation-item > a:before {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 0px;
    height: 4px;
    background: #fff;
    content: "";
    display: block;
    top: 0;
    position: absolute;
  }
  .navigation-menu .navigation-item > a:hover,
  .navigation-menu .navigation-item > a.active {
    color: #00000;
  }
  .navigation-menu .navigation-item > a:hover:before,
  .navigation-menu .navigation-item > a.active:before {
    left: 0;
    width: 100%;
  }
  .navigation-social {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 0;
    display: inline-block;
  }
  .navigation-social li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .navigation-social:before {
    content: none;
  }
  .navigation-social .navigation-item-social {
    margin: 0 5px;
  }
  .food-menu-content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 980px) {
  .header-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-lead {
    font-size: 70px;
    font-size: 4.375rem;
    line-height: 90px;
    line-height: 5.625rem;
  }
  .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .navigation-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .navigation-menu .navigation-item {
    display: inline-block;
  }
  .navigation-menu .navigation-item > a {
    margin: 0;
    color: #fff;
    padding: 50px 15px 0 15px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-column {
    padding-top: 0;
  }
  .footer-column:after {
    content: none;
  }
}
@media only screen and (min-width: 1140px) {
  .banner-lead {
    font-size: 80px;
    font-size: 5rem;
    line-height: 100px;
    line-height: 6.25rem;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-down-big {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-left {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-left-big {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-right {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-right-big {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-up {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fade-in-up-big {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100%;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

}
