.body {
	height:200px;
	background-image: url(img/wheat.jpg);
	background-repeat:no-repeat;
	background-size=contain;
    background: #f3f3f3;
}

.holder{
	height:auto;
	width:250px;
	
}
.top{
	height:248px;
	width:30px;
	border:1px solid #333;
}
.boxed {
	float: left;
    text-align: center;
    width: 240px;
    height: 250px;
    border: 1px solid gray;
   margin: 20px auto;  
	display: flex;;
	background-color: #4A4A4A;
	color:#4A4A4A ;
	position:relative;
	background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border: 1px solid #ccc;
    -webkit-border-radius: 60px 5px;
    -webkit-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1) inset;
	
 
 
 
}
.boxed:hover{
	-moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #ccc; box-shadow: 0 0 10px #ccc;
}
#container {
    width:100%;
    text-align:center;
}
.container.hover{
	opacity: .8;
	 background-color: yellow;
}

#left {
    float:left;
    width:100px;
}

#center {
    
    margin:0 auto;
    width:100px;
}

#right {
    
    width:100px;
}
.row {
  width: 100%;
  margin: 0px auto;
}
.block {
   box-sizing: border-box;
    width: 30%;
    float: left;
	padding-left:70px;   
	margin-bottom:0px;
	display: flex;  
	
   
}
.block.hover{
	opacity: .8;
	 background-color: yellow;
	 text-decoration: underline;
    color: #6B6B6B !important ;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #87CEEB;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}