#mainNav {
  background-color: #212529;
}
div#news_box {
   
    box-shadow:10px 10px 20px grey;  
}
div#news_box  img{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}
.book-button{
   position:absolute;
    margin: 0 auto;
    padding-bottom: 10px;
}
.col-centered{
float: none;
margin: 0 auto;
}
