.yellow { background-color: rgba(249, 195, 94, 1); }
    .green{ background-color: rgba(92, 184, 92, 1) }
    .grey { background-color: rgba(201, 201, 201, 1); }
    .disabled {
          pointer-events:none; //This makes it not clickable
         opacity:0.6;         //This grays it out to look disabled
       
    }

.dot {
    height: 25px;
    width: 25px;
    
    border-radius: 50%;
    display: inline-block;
}
.light_yellow {
 background-color: #ffffe0;
 padding:10px;
  }


#div-table {
width: 100%;
display: table;
}

#div-table-caption{
display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;
padding: 20px;
}

#div-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
}

.table-header-cell{
display: table-cell;
padding: 10px;
text-align: justify;
border-bottom: 1px solid black;
}
#div-table-body{
display: table-row-group;
}
.div-table-row{
display: table-row;
}
.div-table-col{
display: table-col;
}

.div-body-cell{
display: table-cell;
}


li p {
    display:inline-block;
    margin-left: 25px;
}

li {
    list-style: none;
    line-height: 1px;
}