.body {
	height:200px;
	background-image: url(img/wheat.jpg);
	background-repeat:no-repeat;
	background-size=contain;
}
.holder{
	height:auto;
	width:250px;
	
}
.top{
	height:248px;
	width:30px;
	border:1px solid #333;
}
.boxed {
	float: left;
    text-align: center;
    width: 240px;
    height: 250px;
    border: 1px solid gray;
    margin: 35px;   
	display: flex;;
	background-color: #A9A9A9;
	color:#ffffff;
	display: -webkit-flex;
}
#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:100px;
}

#center {
    
    margin:0 auto;
    width:100px;
}

#right {
    
    width:100px;
}
.row {
  width: 100%;
  margin: 0px auto;
}
.block {
   box-sizing: border-box;
    width: 30%;
    float: left;
	padding-left:70px;   
	margin-bottom:50px;
	display: flex;   
   
}
